.themeBtn {
  position   : fixed;
  left       : 40px;
  top        : -10px;
  transition : all 0.3s ease;
  opacity    : 0.6;
  @media (min-width : 600px) {
    &:hover {
      top     : 0;
      opacity : 1;
    }
  }
  @media (max-width : 600px) {
    &:active {
      top     : 0;
      opacity : 1;
    }
  }

  .line {
    width  : 0;
    border : 2px dashed #5ca0d3;
    height : 50px;
  }

  .typeIcon {
    position         : relative;
    left             : -20px + 2px;
    width            : 40px;
    height           : 40px;
    background-color : #5ca0d3;
    border-radius    : 50%;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    color            : #fff;
    cursor           : pointer;
    font-size        : 20px;
  }
}